body{
    margin: 0%;
    padding: 0%;
    background-color: #ffffff;
}
header{
    background: url(/Asset/image7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    background-position: center center;
    /* height: 100vh; */
    padding: 10px 250px;
}
.top{
    color: #f0f0f0;
    font-size: 14px;
}
hr{
    margin-bottom: 0%;
    box-shadow: 7px 4px 80px 0 rgba(249, 0, 0, 0.2); 0px 4px 20px 0 rgba(0, 0, 0,0.19)

}
nav{
    background-color: white;
    /* padding: 20px 100px 0px 100px; */
    text-align: center;
    margin: 0%;
    font-size: 15px;
    box-shadow: 7px 4px 80px 0 rgba(249, 0, 0, 0.2); 0px 4px 20px 0 rgba(0, 0, 0,0.19)
}
nav a:hover{
    /* font-weight: bold; */
    /* font-size: 20px; */
color: black;
    background-color: white;

}
header,ul ,li{
    margin: 0%;
    padding: 0%;
}
header h1, h3, h5, a{
    color: white;
}
header h5{
    line-height: 18px;
}    

header a{
    color: white;
}
.rounded{
    background-color: white;
    color: black;
    padding: 12px 24px;
    border-radius: 5rem;
}
ul{
    list-style: none;
    padding: 20px 100px 0px 100px;
    

}
li{
    display: inline;
    padding: 0px 30px;
}
a{
    text-decoration: none;
    color: rgb(99, 99, 99);
}
/* HERO SECTION */
.content1{
    height: 950px;
    width: 100vw;
    /* background:url(/images/images3.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0%;
    background-color: rgb(255, 255, 255);
}
.contain{
    padding: 50px 250px;
}
.top{
    color: black;
    display: flex;
    justify-content: space-between;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.top h4{
    color: rgb(44, 40, 40);
}

.okay44 h6{
    color: rgb(44, 40, 40);
}
.okay33 h6{
    color: rgb(44, 40, 40);
}
.okay55 h6{
    color: rgb(44, 40, 40);
}
.top1{
    display: flex;
    justify-content: space-between;
}
.top11{
    display: flex;
}
.top2{
    background-color: #fcfcfc;
    width: 313px;
    height: 400px;
}
.okay{
    padding-left: 20px;
}
.top2 img{
    background-size: contain;
    background-repeat: no-repeat;
    width: 300px;
    height: 251px;

}

.imgholder1{
    width: 300px;
    height: 258px;
    background:url(./Asset/image3.jpg) ;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.imgholder2{
    width: 606px;
    height: 258px;
    background:url(/Asset/image4.jpg) ;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.top3 img{
    background-size: contain;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    /* width: 626px; */
    /* height: 250px; */
}
.top3{
    background-color: #fcfcfc;
    width: 606px;
    height: 400px;
    text-align: center;
    color: black;
    margin-top: 10px;
    
}
.top2,h6,h4{
    margin: 12px;
}
.top2 h6{
    color: #3e3d3d;
}
.top3,h6,h4{
    margin: 12px;
}
.top3 h6{
    color: #3e3d3d;
}

.maintop2{
    display: flex;
}
.top22, .top33, .top44{
    height: 400px;
    width: 295px;
    background-color: #fcfcfc;
    margin-left: 20px;
}
.imageholder3{

    width: 295px;
    height: 258px;
    background:url(/Asset/image5.jpg) ;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}.imageholder4{

    width: 295px;
    height: 258px;
    background:url(/Asset/image9.jpg) ;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}.imageholder5{

    width: 295px;
    height: 258px;
    background:url(/Asset/image7.jpg) ;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.topic{
    text-align: center;
    margin-top: -30px;
    font-size: 30px;
}
.wrapper1{
    display: flex;
    text-align: center;
    justify-content: center;
}
.first1, .first2,.first3,.first4{
    margin-right: 40px;
}
.nest{
    display: flex;
}
video{
    width: 613px;
    float: right;
    margin-top: -380px;
    clear: both;
    
}
.content2{width: 100vw;
    height: 100vh;
    background-color: white;

}
.contain12{
    padding: 0px 250px;
    justify-content: space-between;
}
.top55{
    width: 313px;
    clear: both;
}
.imageholder6{
    width: 295px;
    height: 258px;
    background:url(/Assets/image8.jpg) ;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    
}
.leftsider{
    /* clear: both; */
    width: 300px;
    height: 400px;
    float: left;
    margin-left: 20px;
    /* background-color: #fcfcfc; */
}
.down{
    margin-bottom: 35px;
    display: block;
}

#subarticle1{
    width: 313px;
    /* background-color: #fcfcfc; */
    /* height: 500px; */
    text-align: left;
    margin-right: 10px;
}
.imgplacer{
    width: 313px;
    height: 201px;
    background:url(./Asset/image7.jpg) ;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#subarticle2{
    width: 313px;
    /* background-color: #fcfcfc; */
    /* height: 500px; */
    text-align: left;

}
.imgplacer1{
    width: 313px;
    height: 300px;
    background:url(./Asset/vicky.jpg) ;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

#subarticle3{
    width: 313px;
    /* background-color: #fcfcfc; */
    /* height: 500px; */
    text-align: left;
margin-left: 10px;
height: 380px;
}
#subarticle3 p{
    padding-left: 15px;
}
#subarticle2 p{
    padding-left: 15px;
}
#subarticle1 p{
    padding-left: 15px;
}


.imgplacer2{
    width: 313px;
    height: 210px;
    background:url(./Asset/image10.jpg) ;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}
.mainarticles{
    display: flex;
    margin-top: 120px;
}
.mainarticles2{
    display: flex;
    margin-top: 15px;
}
.imgplacer5{
    width: 313px;
    height: 210px;
    background:url(./Asset/reinhart-julian-WxM465oM4j4-unsplash.jpg) ;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}
.imgplacer6{
    width: 313px;
    height: 210px;
    /* background:url(./Asset/image10.jpg) ; */
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}
.imgplacer7{
    width: 313px;
    height: 210px;
    background:url(./Asset/image11.jpg) ;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}
#subarticle5{
    /* background-color: #fcfcfc; */
}
#subarticle7{
    margin-left:15px ;
    margin-top: -80px;
    /* background-color: #fcfcfc; */
}
#subarticle5{margin-right: 15px;

}
#subarticle6{
    /* background-color: #fcfcfc; */
}
.art6{
    text-align: center;
    margin-top: -200px;
    /* background-color: #fcfcfc; */
}
#subarticle1{
    /* height: 350px; */
}
#subarticle5{
    margin-top: -100px;
}
.contain22{
    padding: 0% 250px;
    margin-top: -165px;
}
.imgplacer14{

    width: 650px;
    height: 380px;
    background:url(./Asset/image11.jpg) ;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    /* float: right; */
}
.mainarticles3{
    display: flex;
    margin-top: 30px;
    clear: both;
}
#container1{
    display: flex;
}
.tester{
    display: flex;
}
.split li{
    display: flex;
}
.imgplacer101{
    

    width: 263px;
    height: 250px;
    background:url(./Asset/image15.jpg) ;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    /* float: right; */
    border-radius: 50%;

}
.imgplacer102{
    

    width: 263px;
    height: 250px;
    background:url(./Asset/leilani-angel-K84vnnzxmTQ-unsplash.jpg) ;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    /* border-radius: 50%; */

    /* margin-left: 15px; */
    /* float: right; */
}
.imgplacer103{
    

    width: 263px;
    height: 250px;
    background:url(./Asset/image13.jpg) ;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    border-radius: 50%;
    /* margin-left: 30px; */
    /* float: right; */
}
#subarticle102 p{
    padding-left: 13px;
}
#subarticle202 p{
    padding-left: 13px;
}
#subarticle203 p{
    padding-left: 13px;
}


#subarticle102{
    width: 313px;
    /* background-color: #fcfcfc; */
    /* height: 500px; */
    text-align: left;
margin-left: 10px;
/* height: 380px; */
}

#subarticle202{
    width: 313px;
    /* background-color: #fcfcfc; */
    height: 500px;
    text-align: left;
margin-left: 10px;
/* height: 380px; */
}

#subarticle203{
    width: 313px;
    /* background-color: #fcfcfc; */
    height: 500px;
    text-align: left;
margin-left: 15px;
/* height: 380px; */
}
.imgplacer104{
    

    width: 263px;
    height: 250px;
    background:url(./Asset/portfolio\ new.jpg\ .jpg) ;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    border-radius: 50%;
    /* margin-left: 30px; */
    /* float: right; */
}

.imgplacer105{
    

    width: 263px;
    height: 250px;
    background:url(./Asset/chris-lynch-Qruwi3Ur3Ak-unsplash.jpg) ;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    border-radius: 50%;
    /* margin-left: 30px; */
    /* float: right; */
}
.art2 h4{
    margin-top: 40px;
}
#split{
    margin-top: 30px;
}
.number{
    /* display: flex; */
    text-align: center;
}
.first33{
    background-color: #fcfcfc;
}
.lastman{
    display: flex;
    margin-left: 20px;
}
.picholder1{

    

    width: 263px;
    height: 250px;
    background:url(./Asset/image18.jpg) ;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    /* border-radius: 50%; */
}
.picholder2{

    

    width: 263px;
    height: 250px;
    background:url(./Asset/image14.jpg) ;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    /* border-radius: 50%; */
    margin-left: 20px;

    
    
}
.picholder3{

    

    width: 263px;
    height: 250px;
    background:url(./Asset/image19.jpg) ;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    /* border-radius: 50%; */
    margin-left: 25px;
}
.content5{
    margin-top: -150px;
}
#updateme{
    padding: 10px 25px;
    color: black;
    border: 2px black solid;
    border-radius: 5rem;
    font-family: poppins;
    font-size: 10px;
    font-weight: bold;

}
#footer{
    background-color: #d8d6d6;
    height: 100px;
}
.containlast{
    padding: 0px 250px 0px 250px;
}
.LASTER A{
    color: black;
    line-height: 70px;
}
#updateme:hover{
    background-color: black;
    color: white;
}